<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
    <div class="navbar">
        <h1 class="main-title">Polls</h1>
        <p class="nav-item">{{ user.username }}</p>
        <a class="nav-item" href="{% url 'Login' %}">Logout</a>
    </div>

        <a href="{% url 'UserPolls' user.id %}" style="color: black; text-decoration: underline; font-size: xx-large">Your Polls</a>
    <br>
        <button>
            <a class="new-poll" href="{% url 'Poll_Creation' %}">Create Poll</a>
        </button>

        {% for poll in polls %}
            <div class="poll-view" style="background-color: rgb(28,65,108); color: white">
            <h3 class="poll-title">{{ poll.title }}</h3>
                {% for option in poll.option.all %}
                    <form method="POST" action="{% url 'vote' poll.id option.id %}">
                    {% csrf_token %}
                        <div>{{ option.text }}
                            {% if user not in poll.responded_users.all %}
                                <button class="vote" type="submit">Vote</button>
                            {% endif %}
                            <i class="votes" style="margin-left: 50px">{{ option.votes }} votes</i>

                        </div>
                        <br>
                    </form>
                {% endfor %}
                 {% if user == poll.user %}
                     <form method="POST" action="{% url 'Delete_poll' poll.id %}">
                         {% csrf_token %}
                        <button class="delete" style=" height: 30px; width: 60px; color: white; background-color: red;" type="submit">
                        Delete
                        </button>
                    </form>
                {% endif %}
                <a class="author" style="color: white; text-decoration: underline" href="{% url 'UserPolls' poll.user.id %}">{{ poll.user }}</a>
                <!-- Aggiungi qui ulteriori dettagli sul sondaggio se necessario -->
            </div>
        {% empty %}
            <p>No polls available.</p>
        {% endfor %}

    </body>
</html>