<!DOCTYPE html>
<html>
<head>
    <title>Create a new poll</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div style="background-color: #2e353d; color: white; margin-left: 32.5%; width: 25%; padding: 5%;">
    <h1 style="font-family: Algerian; margin-bottom: 10%; margin-top: -10%">Create a new poll</h1>
    <form method="POST" action="{% url 'Poll_Creation' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="options">
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="option-form">
                    {{ form.id }}
                    {{ form.text }}
                    {% if forloop.counter > 2 %}
                        <button type="button" class="remove-option" style="background-color: darkred; color: white;">Remove</button>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
        <br>

        <button type="button" id="add-option">Add Choice</button>
        <button type="submit" style="background-color: #5cb85c">Create</button>
    </form>
</div>
<script>
   $(document).ready(function() {
    function updateFormCount(){
        var formCount = $('#options .option-form').length;
        $('#id_options-TOTAL_FORMS').val(formCount);
    }
    $('#add-option').click(function() {
        var formCount = $('#options .option-form').length;
        var emptyForm = $('#empty-form').html();
        var newForm = $('<div class="option-form">' + emptyForm + '</div><br>');

        newForm.find(':input').each(function() {
            var name = $(this).attr('name').replace(/__prefix__/, formCount);
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('');
        });

        newForm.find('label').each(function() {
            var newFor = $(this).attr('for').replace(/__prefix__/, formCount);
            $(this).attr('for', newFor);
        });

        if (formCount > 1) {
            newForm.append('<button type="button" class="remove-option" style="background-color: darkred; color: white">Remove</button>');
        }

        $('#options').append(newForm);
        updateFormCount()
    });

    $('#options').on('click', '.remove-option', function() {
        $(this).closest('.option-form').remove();
        updateFormCount()
    });
    $('form').submit(function() {
        updateFormCount();
    });
});
</script>

<!-- Modello del formset vuoto -->
<div id="empty-form" style="display: none;">
    {{ formset.empty_form.id }}
    {{ formset.empty_form.text }}
</div>

</body>
</html>