{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>User Polls</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="navbar">
            <h1 class="main-title">{{ selected_user.username }}</h1>
        </div>

        <a class="nav-item" style="color: black; text-decoration: underline" href="{% url 'Dashboard' %}">Back to Dashboard</a>

        {% for poll in user_polls %}
            <div class="poll-view" style="background-color: rgb(28,65,108); color: white">
            <h3 class="poll-title">{{ poll.title }}</h3>
                {% for option in poll.option.all %}
                    <form method="POST" action="{% url 'vote' poll.id option.id %}">
                    {% csrf_token %}
                        <div>{{ option.text }}

                            <i class="votes" style="margin-left: 50px">{{ option.votes }} votes</i>
                        </div>
                        <br>
                    </form>
                {% endfor %}
                 {% if user == poll.user %}
                     <form method="POST" action="{% url 'Delete_poll' poll.id %}">
                         {% csrf_token %}
                        <button class="delete" style=" height: 30px; width: 60px; color: white; background-color: red;" type="submit">
                        Delete
                        </button>
                    </form>
                {% endif %}
                <i class="author" style="color: white">{{ poll.user }}</i>
            </div>
        {% empty %}
            <p>No polls available.</p>
        {% endfor %}
    </body>
</html>